@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p {
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
}

:root{
    --primary: #fafafa !important;
    --secondary: #444468f2 !important;
    --accent: #531eba !important;
    --highlight: #e5a400 !important;
    --accent-light: #dccff833 !important;
    --card-color: #f9f7fb !important;
    --grey: #F2F1F1 !important;
    --success: #3DAC09 !important;
    --danger: #FD3E3E !important;
    --light-grey: #E6E4E4 !important;
}

.alert{
    position: absolute;
    top: 50px;
    right: 0px;
}

.MuiFormLabel-root{
  background: none !important;
  color: var(--secondary)!important;
  font-size: 14px!important;
}

.MuiInputBase-root{
  padding: 0px !important;
}
.Mui-focused::after{
  border-bottom: 2px solid var(--highlight) !important;
}
label.Mui-focused{
  color: var(--secondary)!important;
  opacity: 0.5 !important;
  border-bottom: none !important;
}
.app-primary-btn{
  height: 48px !important;
  padding: 0px 100px !important;
  background: var(--accent) !important;
  border-radius: 40px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  text-align: center !important;
  color: var(--primary) !important;
  margin-top: 50px !important;
}

.body::before{
    display: block !important;
    content: '' !important;
    height: 66.42px !important;
}

body{
    font-family: 'Montserrat' !important;
    color: var(--secondary) !important;
}


.section{
    padding-top: 8rem !important;
    padding-bottom: 6rem !important;
}

p.span{
    line-height: 1.5em !important;
    height: 3em !important;
    overflow: hidden !important;
}

.primary-text{
    color: var(--primary) !important;
}

.highlight-text{
  color: var(--highlight) !important
}

.success-text{
    color: var(--sucess) !important;
}

.dark-text{
    color: var(--secondary)!important;
}

.secondary-text{
    color: var(--accent)!important;
}

.primary-bg{
    background-color: var(--primary)!important;
}

.grey-bg{
    background-color: var(--grey) !important;
}

.light-grey-bg{
    background-color: var(--light-grey) !important;
}

.accent-light-bg{
    background-color: var(--accent-light) !important;
}

.primary-btn, .accent-bg{
    background-color: var(--accent)!important;
    border-color: var(--accent) !important;
}

.outline-primary-btn{
    border-color: var(--primary)!important;
    color: var(--primary) !important;
}

.primary-btn:hover,
.primary-btn:active
{
    background-color: var(--accent) !important;
    opacity: 0.9 !important;
    color: var(--primary) !important;
    border-color: var(--accent) !important;
}

.highlight-btn{
  background-color: var(--highlight) !important;
  opacity: 0.9 !important;
  color: var(--primary) !important;
  border-color: var(--highlight) !important;
}

.outline-primary-btn:hover,
.outline-primary-btn:active
{
    background-color: var(--primary) !important;
    opacity: 0.98 !important;
    color: var(--accent) !important;
    border-color: var(--primary) !important;
}

.secondary-btn, .secondary-bg{
    background-color: var(--secondary)!important;
    border-color: var(--secondary) !important;
}

.outline-secondary-btn{
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.secondary-btn:hover,
.outline-secondary-btn:hover,
.secondary-btn:active,
.outline-secondary-btn:active{
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    opacity: 0.9 !important;
    color: var(--primary) !important;
}

.accent-btn{
    background-color: var(--primary) !important;
    border-color: var(--accent) !important;
    color: var(--accent) !important;
}

.outline-accent-btn{
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.accent-btn:hover,
.accent-btn:active
{
    background-color: var(--primary) !important;
    opacity: 0.98 !important;
    border-color: var(--primary) !important;
    color: var(--accent) !important;
}

.outline-accent-btn:hover,
.outline-accent-btn:active
{
    background-color: var(--accent) !important;
    color: var(--primary) !important;
    opacity: 0.98 !important;
}

.sign-up-img{
    background-image: url(/images/sign_up.svg) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 70% !important;
}

.login-img{
    background-image: url(/images/login.svg) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 70% !important;
}

.forgot-password-img{
    background-image: url(/images/forgot_password.svg) !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 70% !important;
}

.form-label, .small-text{
    font-size: 15px !important;
}

.sidebar {
    background-color: var(--primary) !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 250px !important;
}

.link{
    border-left: 3px solid var(--primary) !important;
}

.link:hover{
    background-color: var(--grey) !important;
    border-left: 3px solid var(--accent) !important;
}

.link.active{
    background-color: var(--grey) !important;
    border-left: 3px solid var(--accent) !important;
}

.offcanvas{
    width: 250px !important;
}

.offcanvas.offcanvas-end{
    width: 350px !important;
}

.main{
    margin-left: 250px !important;
}

.chat-wrapper-2{
    height: calc(100vh - (81px + 77px)) !important;
    overflow-y: auto !important;
    margin-top: 81px
}

.chat-wrapper{
    height: calc(100vh - (81px + 77px)) !important;
}

.chat{
    width: 430px !important;
}

.chat-list {
    height: calc(100% - 126px) !important;
    overflow-y: scroll !important;
}

.chat-snippet {
    cursor: pointer !important;
}

.flex-item{
    flex: none !important;
}

.settings-card{
    width: 450px !important;
}

.hero-section{
    background: url(/images/cross.svg),url(/images/dots.svg),
        url(/images/cross-line.svg),url(/images/big-cross.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 207px 90px,0 0,219px 624px,100% 165px !important;
    padding-top: 30px !important;
    padding-bottom: 37px !important;
}

.hero-img{
    width: 60% !important;
}

.heading{
    font-size: 60px !important;
    font-weight: 800 !important;
}

.small-text{
    font-size: 14px !important;
    color: var(--accent) !important;
}

.sub-nav.active{
    border-bottom: 3px solid var(--accent) !important;
}

.span{
    font-size: 15px !important;
}

.service-card{
    background-color: var(--card-color) !important;
}

.why-choose-us{
    column-gap: 2rem !important;
}

.testimonial-bg{
    background-color: var(--card-color) !important;
}

.card-rate{
    width: 80% !important;
    border-color: var(--accent) !important;
    outline: none !important;
}


/********************************************** Mobile design *******************************/

@media screen and (max-width: 991px) {
    .main{
        margin-left: 84.375px !important;
    }
    
    .card-rate{
        width: 90% !important;
    }

    .sidebar{
        width: auto !important;
    }

    .heading{
        font-size: 45px !important;
    }

    .recent-transaction{
        background-color: var(--grey) !important;
    }
}

@media screen and (max-width: 923px) {
    .body::before{
        height: 65px !important;
    }
}

@media screen and (max-width: 800px) {
    .body::before{
        height: 64px !important;
    }
}

@media screen and (max-width: 767px) {
    .body::before{
        height: 63px !important;
    }

    .main{
        margin-left: 0 !important;
    }

    .card-rate{
        width: 100% !important;
    }

    .heading{
        font-size: 40px !important;
    }

    .chat-section{
        height: calc(100vh - 65.91px) !important;
    }

    .chat{
        width: 500px !important;
        background-color: var(--primary) !important;
        border: 1px solid #dee2e6 !important;
    }

    .wallet-icon{
        width: 40px !important;
        height: 40px !important;
    }
}

@media screen and (max-width: 600px) {
    .body::before{
        height: 60px !important;
    }

    .heading{
        font-size: 35px !important;
    }
}

@media screen and (max-width: 575px) {
    .offcanvas{
        width: 350px !important;
        max-width: 350px !important;
    }

    .hero-img{
        width: 70% !important;
    }

    .chat{
        width: 100% !important;
    }

    @media screen and (max-width: 430px) {
        .offcanvas,.offcanvas.offcanvas-end
        {
            width: 87vw !important ;
            max-width: 87vw !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .settings-card {
        width: 100% !important;
    }
}
 
@media screen and (max-width: 449px) {
    .hero-img{
        width: 80% !important;
    }

    .heading{
        font-size: 30px !important;
    }
}

@media screen and (max-width: 370px) {
    .offer-card{
        flex-direction: column !important;
    }
}






